//imports
// @import 'scss/tooltip.scss';

.redborder {
	border: 2px solid #E0B4B4 !important;
	background: #FFF6F6 !important;
	color: #9F3A38 !important;
	box-shadow: none !important;
	outline: none !important;
}

input {
	outline: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.help-block {
	font-size: smaller;
}
