.ttip {
	position:relative;

	&:before {
		content:'';
		/* hides the tooltip when not hovered */
		display:none;
		content:'';
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #FE3E3E;
		position:absolute;
		top:30px;
		left:35px;
		z-index:8;
		font-size:0;
		line-height:0;
		width:0;
		height:0;
	}

	&:after {
		display:none;
		content:attr(data-ttip);
		position:absolute;
		top:35px;
		left:0px;
		padding:5px 8px;
		background: #FE3E3E;
		color:#fff;
		z-index:9;
		font: 12px Verdana;
		height:58px;
		line-height:58px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		white-space:nowrap;
		word-wrap:normal;
	}

	&:hover:before, &:hover:after, &.activated {
		display:block;
		color: Blue;
	}

}
