/* ToolTip classses */
.ttip {
display: inline-block;
}
.ttip .tooltiptext {
	margin-left:9px;
	width : 320px;
	visibility: hidden;
	background-color: #FFF;
	border-radius:4px;
	border: 1px solid #aeaeae;
	position: absolute;
	z-index: 1;
	padding: 5px;
	margin-top : -15px; /* according to application */
   opacity: 0;
	transition: opacity 1s;
}
.ttip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 5%;
	right: 100%; /* To the left of the tooltip */
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #aeaeae transparent transparent;
}


.ttip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
